<div *ngIf="!instrument" class="spinner">
    <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>
<div class="col-md-11 tit-loc" *ngIf="instrument">
    <h1 class="title-principal">Evaluación {{ instrument.iniciales }}  </h1>
</div>
<div class="container" *ngIf="instrument">
    <div class="row">
        <div class="container localidad">
            <h2>
                <div class="col-md-10 localidad">
                    <span class="example-spacer"></span>
                </div>
            </h2>
        </div>
    </div>
</div>
<hr>
<div class="container" *ngIf="instrument">
  <td [innerHTML]="instrument.descripcion"></td>
</div>
<br>

<div class="container" *ngIf="instrument">
    <div class="table-content row">
        <div>
            <h3 class="h3-program"> {{ instrument.nombre }} </h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="cell-pregunts union-cells" *ngFor="let pregunt of preguntas">
        <h4 class="h4-aling-pregunts"> {{ pregunt.pregunta }} </h4>
        <div *ngIf="pregunt.pre_sub_pregunta">
            <div *ngFor="let item of pregunt.pre_sub_pregunta">
                <div class="table-content row row-items">
                    <div class="cell col-md-6">
                        <h5 class="h3-program"> {{ item.data }} </h5>
                    </div>

                    <div *ngIf="item.itm_seleccion === 1">
                        <div class="cell col-md-12 color-cell">
                            <label> Selección </label>
                        </div>
                    </div>

                    <div class="with-select-combo" *ngIf="item.itm_combo !== 0">
                        <div class="cell col-md-6 color-cell">
                            <mat-form-field class="with_80">
                                <mat-select [(value)]="item.itm_value_combobox" [(ngModel)]="item.itm_value_combobox" (ngModelChange)="onSearchChange($event)" name="item.itm_value_combobox" placeholder="Seleccione" #tipo="ngModel" required>
                                    <mat-option *ngFor="let item of item.itm_combobox" [value]="item.cmb_valor">
                                        {{ item.cmb_valor }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="item.itm_observacion === 1">
                        <div class="cell col-md-12 color-cell">
                            <label> Observación </label>
                        </div>
                    </div>

                    <div *ngIf="!item || item.itm_seleccion === 0 && item.itm_combo === 0 && item.itm_observacion === 0">
                        <div class="cell col-md-6 color-cell">
                            <h3 class="h4-aling-pregunts">  </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!pregunt.pre_sub_pregunta">
            <div class="cell float-none color-cell">
                <h3 class="h4-aling-pregunts">  </h3>
            </div>
        </div>
    </div>
</div>
