<div class="spinner" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="container" *ngIf="facultades.length > 0">
  <div class="col-md-7">
      <h1>Lista de Facultades</h1>
  </div>
  <div class="col-md-5 mt-4 d-flex flex-row justify-content-end p-1">
    <button class="col-md-1 icon-background" mat-mini-fab matTooltip="Crear Facultad" matTooltipPosition="above" (click)="openModalNewFacultad()">
        <i class="material-icons image-button">add</i>
    </button>
  </div>
</div>
<br>

<div class="container" *ngIf="facultades.length > 0">
  <div class="table-header">
    <div class="cell col-md-1">
      Id
    </div>

    <div class="cell col-md-3">
      Nombre
    </div>

    <div class="cell col-md-4">
      Descripción
    </div>

    <div class="cell col-md-4">
      Opciones
    </div>
  </div>

  <div class="table-content" *ngFor="let facultad of facultades">
      <div class="cell col-md-1">
          <label>{{ facultad.fac_id }}</label>
      </div>

      <div class="cell col-md-3">
          <label>{{facultad.fac_nombre}}</label>
      </div>

      <div class="cell col-md-4">
        <label>{{facultad.fac_descripcion}}</label>
    </div>

      <div class="cell col-md-4 actions-cell">
        <a mat-icon-button [routerLink]="['./users', facultad.fac_id]" matTooltip="Ver usuarios de la facultad {{ facultad.fac_nombre }}" matTooltipPosition="above">
          <i class="material-icons">supervisor_account</i>
        </a>
        <a mat-icon-button [routerLink]="['./facultad', facultad.fac_id]" matTooltip="Ver programas de la facultad {{ facultad.fac_nombre }}" matTooltipPosition="above">
          <i class="material-icons">list_alt</i>
        </a>
        <a mat-icon-button matTooltip="Editar la facultad {{ facultad.fac_nombre }}" matTooltipPosition="above" (click)="openModalEditFacultad(facultad)">
          <i class="material-icons">edit</i>
        </a>
        <a mat-icon-button matTooltip="Eliminar la facultad {{ facultad.fac_nombre }}" matTooltipPosition="above" (click)="deleteFacultad(facultad)">
          <i class="material-icons">delete</i>
        </a>
      </div>
  </div>
</div>

<div class="container" *ngIf="facultades.length === 0 && spinner === false">
  <h2 class="no-evaluations-message">No hay facultades disponibles</h2>
  <div class="button-row aling-button-add">
    <button  mat-raised-button (click)="openModalNewFacultad()"> Agregar Facultad </button>
  </div>
</div>
