<div mat-dialog-title class="cerrar">
  <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
      <i class="material-icons image-button">clear</i>
  </button>
</div>

<h2 mat-dialog-title class="titulo"><i class="material-icons">edit</i> {{ title }} </h2>
<hr>

<div *ngIf="modalType === 0">
  <mat-dialog-content id="mat-dialog-content">
    <div class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="pregunt.pre_pregunta" placeholder="Pregunta">
      </mat-form-field>

      <div *ngIf="view === 0">
        <nav>
          <a (click)="addNewSubPreguntas()"> Agregar subpreguntas </a>
        </nav>

        <mat-accordion *ngIf="pregunt.pre_sub_pregunta.length > 0">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Subpreguntas
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="pregunt.pre_sub_pregunta.length > 0">
                <div *ngFor="let sub_pregunta of pregunt.pre_sub_pregunta">
                    <mat-form-field>
                        <input matInput placeholder="Sub pregunta" [(ngModel)]="sub_pregunta.itm_data">
                    </mat-form-field>
                    <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_seleccion === 1">
                        <mat-select placeholder="Seleccione">
                            <mat-option value="Si">Si</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_combo === 1">
                        <input matInput [(ngModel)]="sub_pregunta.name_combo" placeholder="nombre del combo">
                    </mat-form-field>
                    <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_observacion === 1">
                        <input matInput [(ngModel)]="messageObservation" placeholder="Tipo descriptiva" disabled>
                    </mat-form-field>
                    <button mat-mini-fab mat-icon-button matTooltip="Eliminar subpregunta" (click)="deleteSubPregunta(sub_pregunta)">
                        <i class="material-icons accept-button">delete</i>
                    </button>
                </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      
      <div *ngIf="view === 1">
        <div class="container col-md-12">
          <div class="col-md-3 campo-sub-pregunta">
            <div class="col-md-2" class="form-group" [class.has-success]="itm_data.valid" [class.has-error]="itm_data.invalid">
              <mat-form-field class="example-form-field text-area-max">
                <textarea matInput placeholder="Autosize textarea" [(ngModel)]="item.itm_data" name="itm_data" placeholder="Ingrese sub-Pregunta (Item)" #itm_data="ngModel" required></textarea>
              </mat-form-field>
    
              <div *ngIf="itm_data.invalid && (itm_data.dirty || itm_data.touched)">
                <div *ngIf="itm_data.errors.required" class="help-block">
                  Debe Ingresar una sub-pregunta.
                </div>
              </div>
            </div>
          </div>

          <div class="container col-md-12 container-tipossub">
            <div class="col-md-3">
              <div class="col-md-2" class="form-group" [class.has-success]="seleccion.valid" [class.has-error]="seleccion.invalid">
                <mat-form-field class="with_80">
                  <mat-select [(ngModel)]="item.seleccion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.seleccion" name="seleccion" placeholder="¿Es de Selección?" #seleccion="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <div *ngIf="seleccion.invalid && (seleccion.dirty || seleccion.touched)">
                  <div *ngIf="seleccion.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de Selección?
                  </div>
                </div>
              </div>
            </div>
        
            <div class="col-md-3">
              <div class="col-md-2" class="form-group" [class.has-success]="combo.valid" [class.has-error]="combo.invalid">
                <mat-form-field class="with_80">
                  <mat-select [(ngModel)]="item.combo" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.combo" name="combo" placeholder="¿Es de Combo?" #combo="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <div *ngIf="combo.invalid && (combo.dirty || combo.touched)">
                  <div *ngIf="combo.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de Combo?
                  </div>
                </div>
              </div>
            </div>
        
            <div class="col-md-3">
              <div class="col-md-2" class="form-group" [class.has-success]="observacion.valid" [class.has-error]="observacion.invalid">
                <mat-form-field class="with_80">
                  <mat-select [(ngModel)]="item.observacion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.observacion" name="observacion" placeholder="¿Es de observacion?" #observacion="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <div *ngIf="observacion.invalid && (observacion.dirty || observacion.touched)">
                  <div *ngIf="observacion.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de Observación?
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>    
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="button-add-pregunta icon-background" *ngIf="view === 1 && item.seleccion || item.combo || item.observacion" mat-mini-fab matTooltip="Agregar subpregunta" matTooltipPosition="above" (click)="addNewItem()">
      <i class="material-icons image-button">add</i>
    </button>
    <button class="button-add-pregunta icon-background" *ngIf="buttonSave === 0" mat-mini-fab matTooltip="Pregunta Terminada" matTooltipPosition="above" (click)="addNewPreguntaInArray()">
      <i class="material-icons image-button">check</i>
    </button>
    <button class="button-add-pregunta icon-background" *ngIf="buttonSave === 1" mat-mini-fab matTooltip="Pregunta Terminada" matTooltipPosition="above" (click)="finishEditingPreguntas()">
      <i class="material-icons image-button">save</i>
    </button>
  </mat-dialog-actions>

  <mat-accordion *ngIf="items.length > 0 && view === 1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Subpreguntas
          </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="items.length > 0">
          <div *ngFor="let sub_pregunta of items">
              <mat-form-field>
                  <input matInput placeholder="Sub pregunta" [(ngModel)]="sub_pregunta.itm_data">
              </mat-form-field>
              <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_seleccion === 1">
                  <mat-select placeholder="Seleccione">
                      <mat-option value="Si">Si</mat-option>
                      <mat-option value="No">No</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_combo === 1">
                  <input matInput [(ngModel)]="sub_pregunta.name_combo" placeholder="nombre del combo">
              </mat-form-field>
              <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_observacion === 1">
                  <input matInput [(ngModel)]="messageObservation" placeholder="Tipo descriptiva" disabled>
              </mat-form-field>
              <button mat-mini-fab mat-icon-button matTooltip="Eliminar subpregunta" (click)="deleteSubPregunta(sub_pregunta)">
                  <i class="material-icons accept-button">delete</i>
              </button>
          </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="modalType === 1">
  <div class="container col-md-12 container-tipossub">
    <div class="col-md-3">
      <div class="col-md-2" class="form-group" [class.has-success]="seleccion.valid" [class.has-error]="seleccion.invalid">
        <mat-form-field class="with_80">
          <mat-select [(ngModel)]="item.seleccion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.seleccion" name="seleccion" placeholder="¿Es de Selección?" #seleccion="ngModel" required>
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="seleccion.invalid && (seleccion.dirty || seleccion.touched)">
          <div *ngIf="seleccion.errors.required" class="help-block">
            Debe Seleccionar una Opción, ¿Es de Selección?
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-2" class="form-group" [class.has-success]="combo.valid" [class.has-error]="combo.invalid">
        <mat-form-field class="with_80">
          <mat-select [(ngModel)]="item.combo" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.combo" name="combo" placeholder="¿Es de Combo?" #combo="ngModel" required>
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="combo.invalid && (combo.dirty || combo.touched)">
          <div *ngIf="combo.errors.required" class="help-block">
            Debe Seleccionar una Opción, ¿Es de Combo?
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-2" class="form-group" [class.has-success]="observacion.valid" [class.has-error]="observacion.invalid">
        <mat-form-field class="with_80">
          <mat-select [(ngModel)]="item.observacion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.observacion" name="observacion" placeholder="¿Es de observacion?" #observacion="ngModel" required>
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="observacion.invalid && (observacion.dirty || observacion.touched)">
          <div *ngIf="observacion.errors.required" class="help-block">
            Debe Seleccionar una Opción, ¿Es de Observación?
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <button class="button-add-pregunta icon-background" mat-mini-fab matTooltip="Guardar subpregunta" matTooltipPosition="above" (click)="finishEditingPreguntas()">
        <i class="material-icons image-button">save</i>
      </button>
    </div>
  </div>
</div>