.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.button-add-pregunta {
    margin-left: 93%;
    margin-top: 1%;
}

.icon-background {
    background: #eee;
}

.cerrar {
    text-align: -webkit-right;
    margin-top: -22px;
    margin-bottom: -0.5%;
    margin-right: -2%;
    padding: 0px;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background: #eee;
}

a {
    cursor: pointer;
    cursor: hand;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
  
nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
  
nav a.active {
    color: #039be5;
}

mat-accordion {
    margin-top: 2%;
}

mat-dialog-content {
    overflow: initial;
}