.container.carousel {
    width: 100%;
}

img {
    width: 100%;
}

.cerrar {
    text-align: -webkit-right;
    margin-top: -22px;
    margin-right: -24px;
    margin-bottom: 3%;
}

.formulario {
    width: 65%;
    margin-left: 12%;
    margin-top: 3%;
}

.center-container-left {
    text-align-last: center;
}

.left10-container {
    margin-left: 10%;
}

.text-area-max {
    width: 80%;
}

.center-container-left-tree-column {
    text-align-last: center;
    margin-left: 23%;
}

.button-add-pregunta {
    margin-left: 93%;
}

.campo-sub-pregunta {
    width: 95%;
}

.container-tipossub {
    margin-left: 15%;
}

.container.carousel {
    width: 100%;
}

img {
    width: 100%;
}

.cerrar {
    text-align: -webkit-right;
    margin-top: -22px;
    margin-right: -24px;
    margin-bottom: 3%;
}

.formulario {
    width: 65%;
    margin-left: 12%;
    margin-top: 3%;
}

.left10-container {
    margin-left: 10%;
}

.text-area-max {
    width: 80%;
}

.button-save-evaluation {
    margin-left: 8%;
}

.guardar-preguntas {
    margin-left: 97%;
    margin-top: -3.4%;
}

.text-area-descripcion {
    resize: none !important;
    height: 250px !important;
    border: #77777780 1px solid;
}

.container-accordion {
    margin-top: 5%;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background: #eee;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}

.align-pregunt {
  margin-left: 28%;
}

.align-subpregunt {
  margin-left: 15%;
}

.align-subpregunt-item {
  margin-left: 15%;
}

.align-dirigida {
  margin-left: 14%;
}
