<div class="title-action">
    <form #evaluacionForm="ngForm" class="example-form">

        <div>
            <div class="col-md-11">
                <h1> {{ instrumento.int_nombre }} </h1>
            </div>
        </div>
    </form>
</div>

<div class="container col-md-12 center-container-left">
    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="codigo.valid" [class.has-error]="codigo.invalid">
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="instrumento.int_codigo" (ngModelChange)="onChange($event)" class="input" name="instrumento.int_codigo" placeholder="Codigo de la Evaluación" type="text" #codigo="ngModel" required>
            </mat-form-field>
            <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
                <div *ngIf="codigo.errors.required" class="help-block">
                    Debe indicar un codigo para la evaluación.
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="iniciales.valid" [class.has-error]="iniciales.invalid">
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="instrumento.int_iniciales" (ngModelChange)="onChange($event)" class="input" name="instrumento.int_iniciales" placeholder="Iniciales de la Evaluación" type="text" #iniciales="ngModel" required>
            </mat-form-field>

            <div *ngIf="iniciales.invalid && (iniciales.dirty || iniciales.touched)">
                <div *ngIf="iniciales.errors.required" class="help-block">
                    Debe indicar unas iniciales para la evaluación.
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="nombre.valid" [class.has-error]="nombre.invalid">
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="instrumento.int_nombre" (ngModelChange)="onChange($event)" class="input" name="instrumento.int_nombre" placeholder="Nombre de la Evaluación" type="text" #nombre="ngModel" required>
            </mat-form-field>

            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required" class="help-block">
                    Debe indicar un nombre para la evaluación.
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="int_lista_matriz.valid" [class.has-error]="int_lista_matriz.invalid">
            <mat-form-field class="with_80">
                <mat-select [(ngModel)]="instrumento.int_lista_matriz" (ngModelChange)="onChange($event)" name="int_lista_matriz" placeholder="¿Estilo Lista?" #int_lista_matriz="ngModel" required>
                    <mat-option value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="int_lista_matriz.invalid && (int_lista_matriz.dirty || int_lista_matriz.touched)">
                <div *ngIf="int_lista_matriz.errors.required" class="help-block">
                    Debe Seleccionar una Opción.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-12">
    <quill-editor [(ngModel)]="instrumento.int_descripcion"
    [options]="editorOptions"
    (blur)="onEditorBlured($event)"
    (focus)="onEditorFocused($event)"
    (ready)="onEditorCreated($event)"
    (change)="onContentChanged($event)"></quill-editor>
</div>

<div class="title-action">
    <form #evaluacionForm="ngForm" class="example-form">
        <div class="col-md-12">
            <h1 class="button-save-evaluation"> ¿A quién va dirigida? </h1>
        </div>
    </form>
</div>

<br>
<br>

<div class="container align-dirigida">
    <form [formGroup]="form">
        <div class="col-md-3">
            <label>
                <input type="checkbox" value="profesores" (click)="resetRadio($event, 'profesor')" formControlName="profesor">
                    <span>Profesor</span>
            </label>
        </div>
        <div class="col-md-3">
            <label>
            <input type="checkbox" value="participantes" (click)="resetRadio($event, 'participante')" formControlName="participante">
                <span>Participante</span>
            </label>
        </div>
        <div class="col-md-3">
            <label>
                <input type="checkbox" value="empleados" (click)="resetRadio($event, 'empleado')" formControlName="empleado">
                <span>Empleados</span>
            </label>
        </div>
        <div class="col-md-3">
            <label>
                <input type="checkbox" value="egresados" (click)="resetRadio($event, 'egresado')" formControlName="egresado">
                <span>Egresado</span>
            </label>
        </div>
     </form>
</div>

<!--Preguntas e Items-->
<div class="title-action">
    <form #evaluacionForm="ngForm" class="example-form">
        <div class="col-md-12">
            <h1 class="button-save-evaluation"> Preguntas </h1>
        </div>
    </form>
</div>

<div class="container">
    <div class="col-md-3 align-pregunt">
        <div class="col-md-2" class="form-group" [class.has-success]="pre_pregunta.valid" [class.has-error]="pre_pregunta.invalid">
            <mat-form-field class="with_80">
                <input matInput [(ngModel)]="pregunta.pre_pregunta" (ngModelChange)="onChange($event)" name="pre_pregunta" placeholder="Pregunta" #pre_pregunta required>
            </mat-form-field>

            <div *ngIf="pre_pregunta.invalid && (pre_pregunta.dirty || pre_pregunta.touched)">
                <div *ngIf="pre_pregunta.errors.required" class="help-block">
                    Debe Ingresar una Pregunta.
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="sub.valid" [class.has-error]="sub.invalid">
            <mat-form-field class="with_80">
                <mat-select [(ngModel)]="pregunta.sub" (ngModelChange)="onChangePregunta($event)" [value]="pregunta.sub" name="sub" placeholder="¿Sub Pregunta?" #sub="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="sub.invalid && (sub.dirty || sub.touched)">
                <div *ngIf="sub.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Posee una sub-pregunta?
                </div>
            </div>
        </div>
    </div> -->
</div>

<!--<div class="container align-subpregunt" *ngIf="pregunta.pre_sub === 1"> -->
  <div class="container align-subpregunt">
    <div class="col-md-3 campo-sub-pregunta">
        <div class="col-md-2" class="form-group" [class.has-success]="itm_data.valid" [class.has-error]="itm_data.invalid">
            <mat-form-field class="example-form-field text-area-max">
                <textarea matInput placeholder="Autosize textarea" [(ngModel)]="item.itm_data" (ngModelChange)="onChangePregunta($event)" name="itm_data" placeholder="Ingrese sub-Pregunta (Item)" #itm_data="ngModel" required></textarea>
            </mat-form-field>

            <div *ngIf="itm_data.invalid && (itm_data.dirty || itm_data.touched)">
                <div *ngIf="itm_data.errors.required" class="help-block">
                    Debe Ingresar una sub-pregunta.
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container align-subpregunt-item" *ngIf="pregunta.pre_sub === 1"> -->
  <div class="container align-subpregunt-item">
    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="seleccion.valid" [class.has-error]="seleccion.invalid">
            <mat-form-field class="with_80">
                <mat-select [(ngModel)]="item.seleccion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.seleccion" name="seleccion" placeholder="¿Es de Selección?" #seleccion="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="seleccion.invalid && (seleccion.dirty || seleccion.touched)">
                <div *ngIf="seleccion.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de Selección?
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="combo.valid" [class.has-error]="combo.invalid">
            <mat-form-field class="with_80">
                <mat-select [(ngModel)]="item.combo" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.combo" name="combo" placeholder="¿Es de Combo?" #combo="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="combo.invalid && (combo.dirty || combo.touched)">
                <div *ngIf="combo.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de Combo?
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-2" class="form-group" [class.has-success]="observacion.valid" [class.has-error]="observacion.invalid">
            <mat-form-field class="with_80">
                <mat-select [(ngModel)]="item.observacion" (ngModelChange)="onChangeTypeSubPregunta($event)" [value]="item.observacion" name="observacion" placeholder="¿Es de selección multiple?" #observacion="ngModel" required>
                    <mat-option value="Si">Si</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>

            <!--<div *ngIf="observacion.invalid && (observacion.dirty || observacion.touched)">
                <div *ngIf="observacion.errors.required" class="help-block">
                    Debe Seleccionar una Opción, ¿Es de selección multiple?
                </div>
            </div>-->
        </div>
    </div>
</div>

<!--<div class="container" *ngIf="item.seleccion || item.combo || item.observacion && pregunta.pre_sub === 1"> -->
  <div class="container" *ngIf="item.seleccion || item.combo || item.observacion">
    <div>
        <button class="button-add-pregunta" mat-mini-fab matTooltip="Agregar Item a la Pregunta" matTooltipPosition="above" (click)="addNewItem()">
            <i class="material-icons image-button">add</i>
        </button>
    </div>
</div>

<div class="container" *ngIf="pregunta.pre_sub === 0">
    <div>
        <button class="button-add-pregunta" mat-mini-fab matTooltip="Agregar Pregunta" matTooltipPosition="above" (click)="addNewPregunta()">
            <i class="material-icons image-button">check</i>
        </button>
    </div>
</div>

<div class="container col-md-12 container-accordion">
    <div *ngIf="evaluacion.length > 0">
        <div *ngFor="let pregunt of evaluacion">
            <mat-accordion>
              <mat-expansion-panel class="">
                <mat-expansion-panel-header>
                    <mat-panel-title class="mt-4">
                        Pregunta: {{ pregunt.pre_pregunta }}
                    </mat-panel-title>
                    <mat-panel-description class="mt-1 p-1 mr-3">
                        <button class="mr-3" mat-mini-fab mat-icon-button matTooltip="Eliminar pregunta completa" (click)="deletePregunta(pregunt)">
                          <i class="material-icons accept-button">delete</i>
                        </button>
                        <button mat-mini-fab mat-icon-button matTooltip="Editar pregunta completa" (click)="openModalEditPregunta(pregunt)">
                          <i class="material-icons accept-button">edit</i>
                        </button>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="pregunt.pre_sub_pregunta.length > 0">
                    <div *ngFor="let sub_pregunta of pregunt.pre_sub_pregunta">
                        <mat-form-field>
                            <input matInput placeholder="Sub pregunta" [(ngModel)]="sub_pregunta.itm_data" disabled>
                        </mat-form-field>
                        <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_seleccion === 1">
                          <input matInput placeholder="Tipo selección" value="Seleccione (Sí / No)" disabled>
                        </mat-form-field>
                        <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_combo === 1">
                            <input matInput [(ngModel)]="sub_pregunta.name_combo" placeholder="nombre del combo" disabled>
                        </mat-form-field>
                        <mat-form-field class="with_80" *ngIf="sub_pregunta.itm_observacion === 1">
                            <input matInput [(ngModel)]="messageObservation" placeholder="Tipo descriptiva" disabled>
                        </mat-form-field>
                        <button class="ml-3" mat-mini-fab mat-icon-button matTooltip="Eliminar subpregunta" (click)="deleteSubPregunta(sub_pregunta)">
                            <i class="material-icons accept-button">delete</i>
                        </button>
                        <button class="ml-1" mat-mini-fab mat-icon-button matTooltip="Editar subpregunta" (click)="openModalEditSubPregunta(sub_pregunta)">
                            <i class="material-icons accept-button">edit</i>
                        </button>
                    </div>
                </div>
                <div *ngIf="pregunt.pre_sub_pregunta.length === 0">
                    <mat-form-field class="with_80">
                        <input matInput value="No hay subpreguntas" disabled>
                    </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<div class="col-md-1 mt-3">
    <button mat-mini-fab mat-icon-button (click)="guardarEvaluacion(instrumento)" matTooltip="Guardar Evaluación">
        <i class="material-icons accept-button">save</i>
    </button>
</div>
