<div class="title-action">
    <form #evaluacionForm="ngForm" class="example-form">

        <div>
            <div class="col-md-11">
                <h2> Calculadora del tamaño de la muestra a aplicar los diversos instrumentos </h2>
            </div>
        </div>
    </form>
</div>

<br>

<div *ngIf="viewActive === 0">
  <div class="container" *ngFor="let intrument of instruments">
      <div class="col-md-12 aling-center-div">
          <h4> Instrumento {{ intrument.int_iniciales }} </h4>
      </div>
      <div class="table-content row" *ngIf="intrument.int_profesor === 1">
          <div class="cell col-md-3">
              <h4 class="h4-program"> Cantidad de Profesores: </h4>
          </div>
          <div class="cell col-md-2 color-cell mat-component-input">
              <mat-form-field>
                  <input class="center-text" [(ngModel)]="intrument.asignacion.cantidad_profesores" matInput (ngModelChange)="onChange(intrument.asignacion)" name="cantidadProfesores" placeholder="Cantidad Profesores" #cantidadProfesores required>
              </mat-form-field>
          </div>
          <div class="cell col-md-7 background-result">
              <label *ngIf="intrument.asignacion.calculo_profesores > 0"> Se debe aplicar aproximadamente a: {{ intrument.asignacion.calculo_profesores }} Profesores</label>
          </div>
      </div>
      <div class="table-content row" *ngIf="intrument.int_participante === 1">
          <div class="cell col-md-3">
              <h4 class="h4-program"> Cantidad de Participantes: </h4>
          </div>
          <div class="cell col-md-2 color-cell mat-component-input">
              <mat-form-field>
                  <input class="center-text" [(ngModel)]="intrument.asignacion.cantidad_participante" matInput (ngModelChange)="onChange(intrument.asignacion)" name="cantidadparticipante" placeholder="Cantidad Participantes" #cantidadparticipante required>
              </mat-form-field>
          </div>
          <div class="cell col-md-7 background-result">
              <label *ngIf="intrument.asignacion.calculo_participantes > 0"> Se debe aplicar aproximadamente a: {{ intrument.asignacion.calculo_participantes }} Participantes</label>
          </div>
      </div>
      <div class="table-content row" *ngIf="intrument.int_egresado === 1">
          <div class="cell col-md-3">
              <h4 class="h4-program"> Cantidad de Egresado: </h4>
          </div>
          <div class="cell col-md-2 color-cell mat-component-input">
              <mat-form-field>
                  <input class="center-text" [(ngModel)]="intrument.asignacion.cantidad_egresado" matInput (ngModelChange)="onChange(intrument.asignacion)" name="cantidadegresado" placeholder="Cantidad Egresados" #cantidadegresado required>
              </mat-form-field>
          </div>
          <div class="cell col-md-7 background-result">
              <label *ngIf="intrument.asignacion.calculo_egresados > 0"> Se debe aplicar aproximadamente a: {{ intrument.asignacion.calculo_egresados }} Egresados</label>
          </div>
      </div>
      <div class="table-content row" *ngIf="intrument.int_empleado === 1">
          <div class="cell col-md-3">
              <h4 class="h4-program"> Cantidad de Empleadores: </h4>
          </div>
          <div class="cell col-md-2 color-cell mat-component-input">
              <mat-form-field>
                  <input class="center-text" [(ngModel)]="intrument.asignacion.cantidad_empleado" matInput (ngModelChange)="onChange(intrument.asignacion)" name="cantidadempleado" placeholder="Cantidad Empleados" #cantidadempleado required>
              </mat-form-field>
          </div>
          <div class="cell col-md-7 background-result">
              <label *ngIf="intrument.asignacion.calculo_empleados > 0"> Se debe aplicar aproximadamente a: {{ intrument.asignacion.calculo_empleados }} Empleados</label>
          </div>
      </div>
      <br>
  </div>
</div>

<div class="button-add-data" *ngIf="bandera">
  <button class="col" mat-mini-fab matTooltip="Asignar Evaluaciones" matTooltipPosition="above" (click)="viewActiveEvaluationActor()">
      <i class="material-icons image-button">send</i>
  </button>
</div>

<!--<hr>
<h2> Asignación de Evaluaciones </h2>-->

<div *ngIf="viewActive === 1">
  <div *ngFor="let intrument of instruments">
      <div class="container aling-creator-key" *ngIf="intrument.asignacion.cantidad_profesores || intrument.asignacion.cantidad_profesores > 0 || intrument.asignacion.cantidad_participante || intrument.asignacion.cantidad_participante > 0 || intrument.asignacion.cantidad_egresado || intrument.asignacion.cantidad_egresado > 0 || intrument.asignacion.cantidad_empleado || intrument.asignacion.cantidad_empleado > 0">
          <mat-accordion>
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                      <mat-panel-title> {{ intrument.int_iniciales }} </mat-panel-title>
                      <mat-panel-description> Creación de llaves y Asignación de Evaluaciones </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div *ngIf="intrument.asignacion.calculo_profesores || intrument.asignacion.calculo_profesores > 0">
                        <div *ngFor="let profesores of intrument.asignacion.array_cant_profesores; let i = index">
                            <div *ngIf="dataAsignadaProfesor.length > 0 && dataAsignadaProfesor[i].marca === 0">
                                <mat-form-field> <input [(ngModel)]="dataAsignadaProfesor[i].primer_nombre" name="dataAsignadaProfesor[i].primer_nombre" matInput placeholder="Primer Nombre" matTooltip="Ingrese el Primer Nombre de la persona a la que se le asignara la Evaluación" required> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaProfesor[i].primer_apellido" name="dataAsignadaProfesor[i].primer_apellido" matInput placeholder="Primer Apellido" matTooltip="Ingrese el Primer Apellido de la persona a la que se le asignara la Evaluación" required> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaProfesor[i].identification" name="dataAsignadaProfesor[i].identification" matInput placeholder="Identificación" matTooltip="Ingrese la Cédula de identidad de la persona a la que se le asignara la Evaluación" required> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaProfesor[i].email" name="dataAsignadaProfesor[i].email" matInput placeholder="Correo" matTooltip="Ingrese un Correo Eléctronico para enviar los datos a la Persona" required> </mat-form-field>
                                <button mat-icon-button (click)="sendAndSaveEvaluation(intrument.int_codigo, 'Profesor', dataAsignadaProfesor[i], i)" matTooltip="Asignar Evaluación al Profesor" matTooltipPosition="below">
                                    <i class="material-icons play_arrow">play_arrow</i>
                                </button>
                            </div>
                            <div *ngIf="dataAsignadaProfesor.length === 0">
                                <h2 class="no-evaluation-message">No hay evaluaciones por asignar para profesores.</h2>
                            </div>
                        </div>
                  </div>
                  <div *ngIf="intrument.asignacion.calculo_participantes || intrument.asignacion.calculo_participantes > 0">
                        <div *ngFor="let profesores of intrument.asignacion.array_cant_participantes; let i = index">
                            <div *ngIf="dataAsignadaParticipante.length > 0 && dataAsignadaParticipante[i].marca === 0">
                                <mat-form-field> <input [(ngModel)]="dataAsignadaParticipante[i].primer_nombre" name="dataAsignadaParticipante[i].primer_nombre" matInput placeholder="Primer Nombre" matTooltip="Ingrese el Primer Nombre de la persona a la que se le asignara la Evaluación" required> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaParticipante[i].primer_apellido" name="dataAsignadaParticipante[i].primer_apellido" matInput placeholder="Primer Apellido" matTooltip="Ingrese el Primer Apellido de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaParticipante[i].identification" name="dataAsignadaParticipante[i].identification" matInput placeholder="Identificación" matTooltip="Ingrese la Cédula de identidad de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaParticipante[i].email" name="dataAsignadaParticipante[i].email" matInput placeholder="Correo" matTooltip="Ingrese un Correo Eléctronico para enviar los datos a la Persona"> </mat-form-field>
                                <button mat-icon-button (click)="sendAndSaveEvaluation(intrument.int_codigo, 'Participante', dataAsignadaParticipante[i], i)" matTooltip="Asignar Evaluación al Participante" matTooltipPosition="below">
                                    <i class="material-icons play_arrow">play_arrow</i>
                                </button>
                            </div>
                            <div *ngIf="dataAsignadaParticipante.length === 0">
                                <h2 class="no-evaluation-message">No hay evaluaciones por asignar para participantes.</h2>
                            </div>
                        </div>
                  </div>
                  <div *ngIf="intrument.asignacion.calculo_egresados || intrument.asignacion.calculo_egresados > 0">
                        <div *ngFor="let profesores of intrument.asignacion.array_cant_egresados; let i = index">
                            <div *ngIf="dataAsignadaEgresado.length > 0 && dataAsignadaEgresado[i].marca === 0">
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEgresado[i].primer_nombre" name="dataAsignadaEgresado[i].primer_apellido" matInput placeholder="Primer Nombre" matTooltip="Ingrese el Primer Nombre de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEgresado[i].primer_apellido" name="dataAsignadaEgresado[i].primer_apellido" matInput placeholder="Primer Apellido" matTooltip="Ingrese el Primer Apellido de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEgresado[i].identification" name="dataAsignadaEgresado[i].identification" matInput placeholder="Identificación" matTooltip="Ingrese la Cédula de identidad de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEgresado[i].email" name="dataAsignadaEgresado[i].email" matInput placeholder="Correo" matTooltip="Ingrese un Correo Eléctronico para enviar los datos a la Persona"> </mat-form-field>
                                <button mat-icon-button (click)="sendAndSaveEvaluation(intrument.int_codigo, 'Egresado', dataAsignadaEgresado[i], i)" matTooltip="Asignar Evaluación al Egresado" matTooltipPosition="below">
                                    <i class="material-icons play_arrow">play_arrow</i>
                                </button>
                            </div>
                            <div *ngIf="dataAsignadaEgresado.length === 0">
                                <h2 class="no-evaluation-message">No hay evaluaciones por asignar para egresados.</h2>
                            </div>
                        </div>
                  </div>
                  <div *ngIf="intrument.asignacion.calculo_empleados || intrument.asignacion.calculo_empleados > 0">
                        <div *ngFor="let profesores of intrument.asignacion.array_cant_empleados; let i = index">
                            <div *ngIf="dataAsignadaEmpleado.length > 0 && dataAsignadaEmpleado[i].marca === 0">
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEmpleado[i].primer_nombre" name="dataAsignadaEmpleado[i].primer_nombre" matInput placeholder="Primer Nombre" matTooltip="Ingrese el Primer Nombre de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEmpleado[i].primer_apellido" name="dataAsignadaEmpleado[i].primer_apellido" matInput placeholder="Primer Apellido" matTooltip="Ingrese el Primer Apellido de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEmpleado[i].identification" name="dataAsignadaEmpleado[i].identification" matInput placeholder="Identificación" matTooltip="Ingrese la Cédula de identidad de la persona a la que se le asignara la Evaluación"> </mat-form-field>
                                <mat-form-field> <input [(ngModel)]="dataAsignadaEmpleado[i].email" name="dataAsignadaEmpleado[i].email" matInput placeholder="Correo" matTooltip="Ingrese un Correo Eléctronico para enviar los datos a la Persona"> </mat-form-field>
                                <button mat-icon-button (click)="sendAndSaveEvaluation(intrument.int_codigo, 'Empleado', dataAsignadaEmpleado[i], i)" matTooltip="Asignar Evaluación al Empleado" matTooltipPosition="below">
                                    <i class="material-icons play_arrow">play_arrow</i>
                                </button>
                            </div>
                            <div *ngIf="dataAsignadaEmpleado.length === 0">
                                <h2 class="no-evaluation-message">No hay evaluaciones por asignar para empleados.</h2>
                            </div>
                        </div>
                  </div>
              </mat-expansion-panel>
          </mat-accordion>
      </div>
  </div>
</div>
