.aling-center-div {
    text-align: center;
}

.color-cell {
    background: #f9f90d78;
}

.h4-program {
    margin-top: 0%;
}

.cell {
    border: 1px solid #777;
    min-height: 50px;
    max-height: 50px;
    padding-top: 13px;
}

.center-text {
    text-align: center
}

.mat-component-input {
    padding-top: 10px;
}

.mat-content-display {
    display: contents;
}

.background-result {
    background: #e6aef978;
}

.aling-button-configuration-envio {
    margin-left: 92%;
}

.width-name-actor {
  width: 80px;
}

i.material-icons.image-button {
  margin-left: 2%;
  margin-bottom: 48%;
  color: #fff;
}

button.mat-mini-fab.mat-accent {
  background: #00a6b6;
}

.button-add-data {
  margin-top: 0%;
  margin-left: 94%;
}

.no-evaluation-message {
    text-align: center;
}

.aling-creator-key {
  margin-top: 5%;
}
