<h2 mat-dialog-title>{{ data.typeModal }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.title }}</h3>
  <p>{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close routerLink="{{ data.routeModalPrevious }}">Cancelar</button>
  <button *ngIf="data.routeModalNext != ''" mat-button [mat-dialog-close]="true" routerLink="{{ data.routeModalNext }}" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
