<div mat-dialog-title class="cerrar">
  <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
      <i class="material-icons image-button">clear</i>
  </button>
</div>

<h2 mat-dialog-title class="titulo"><i class="material-icons">edit</i> {{ title }} </h2>
<hr>

<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="facultad.fac_nombre" placeholder="Ingrese el nombre de la facultad">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="facultad.fac_descripcion" placeholder="Ingrese la descripción de la facultad"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="button-add-pregunta icon-background" mat-mini-fab matTooltip="Guardar Facultad" matTooltipPosition="above" (click)="saveFacultad()">
    <i class="material-icons image-button">save</i>
  </button>
</mat-dialog-actions>