.with_80 {
    width: 80%;
    margin-top: -2%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 10px;
  }

.union-cells {
    margin-top: 5%;
}

.float-none {
    float: none;
}

.row-items {
    margin-right: -2px !important;
    margin-left: -1px !important;
}

.h4-aling-pregunts {
    text-align: center;
    margin-top: 0%;
}

.color-cell {
    background: #f9f90d78;
}

.h3-program {
    margin-top: 0%;
    font-weight: bold;
}

.h3-name-instrument {
    margin-top: 0%;
}

.title-principal {
    margin-left: 2%;
    margin-top: 3%;
}

.table-header {
    font-weight: bold;
    text-align: center;
}

.evaluation-pregunts {
    text-align: left;
}

.cell {
    border: 1px solid #777;
    min-height: 50px;
    max-height: 50px;
    padding-top: 13px;
}

.cell-pregunts {
    border: 1px solid #777;
}

.cell.actions-cell {
    padding-top: 5px;
}

.container-fluid {
    margin-right: -3%;
    margin-left: -3%;
    margin-top: 3%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 20px;
}

.badge {
    border-radius: 50%;
    background: #01a6b6;
    color: white;
    padding: 7px;
    font-size: inherit;
    width: 50px;
    height: 50px;
}

.no-servers-message {
    text-align: center;
    margin-top: 75px;
}

i.material-icons.image-button {
    margin-left: 2%;
    margin-bottom: 48%;
    color: #fff;
}

i.material-icons.back-button {
    font-size: 252%;
    margin-left: -313%;
    margin-bottom: -69%;
}

.Servidores {
    text-align: center;
    margin-left: 5px;
    margin-top: -4px;
    font-size: 24px
}

.col-md-2.library {
    text-align: -webkit-right;
}

.col-md-10.localidad {
    padding: 0px;
}

.place {
    font-size: 30px;
}

.container.localidad {
    padding: 0px;
}

.table {
    margin-left: 0px;
}

button.mat-mini-fab.mat-accent {
    background: #00a6b6;
}

.col-md-1.det-loc {
    padding-left: 107px;
    padding-top: 18px;
    margin-left: -7%;
}

.button-add-data {
  margin-top: 1%;
  margin-left: 92%;
}

.button-minus-data {
  margin-top: 1%;
  margin-left: 4%;
}

.row-detail-evaluation-resolv {
  flex-wrap: inherit;
  margin-right: 0px;
  margin-left: 0px;
}

.h5-data-col {
  margin-top: 10px;
  margin-bottom: -1px;
  font-size: 13px;
}

.color-pregunt {
  background: #f9f90d78;
}
