<div *ngIf="!instrument" class="spinner">
    <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>
<div class="col-md-11 tit-loc" *ngIf="instrument">
    <h1 class="title-principal">Evaluación {{ instrument.iniciales }}  </h1>
</div>
<div class="container" *ngIf="instrument">
    <div class="row">
        <div class="container localidad">
            <h2>
                <div class="col-md-10 localidad">
                    <span class="example-spacer"></span>
                </div>
            </h2>
        </div>
    </div>
</div>
<hr>
<div class="container" *ngIf="instrument">
   <td [innerHTML]="instrument.descripcion"></td>
</div>
<br>

<div class="container" *ngIf="instrument && program">
    <div class="row">
        <div class="cell col-md-2">
                <h3 class="h3-program"> Programa </h3>
        </div>

        <div class="cell col-md-10 color-cell">
            <label>{{program.pro_nombre}}</label>
        </div>
    </div>
    <br>
    <br>
    <div class="table-content row">
        <div>
            <h3 class="h3-name-instrument"> {{ instrument.nombre }} </h3>
        </div>
    </div>
</div>

<div class="container">
  <div *ngIf="instrument && instrument.int_lista_matriz === 1">
    <div class="row table-header row-detail-evaluation-resolv">
      <div style="width: 270px;" *ngFor="let pregunt of preguntasMatriz">
        <h5 class="table-header h4-aling-pregunts cell h5-data-col"> {{ pregunt.pre_pregunta }} </h5>
        <div class="row row-detail-evaluation-resolv" *ngIf="pregunt.subPreguntNumber === 0">
          <div class="col cell">
            <h5 class="h5-data-col"> -------------- </h5>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="row row-detail-evaluation-resolv" *ngIf="pregunt.subPreguntNumber === 1">
          <div class="color-pregunt h4-aling-pregunts col cell" style="width: 41px;" *ngFor="let item of pregunt.sub_pregunta">
              <h5 class="h5-data-col"> {{ item.data }} </h5>
          </div>
        </div>
        <div class="w-100"></div>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="container">
      <div class="row" *ngFor="let pregunts of definitive">
        <div *ngFor="let pregunt of pregunts">
          <div style="margin-left: 0px !important;" class="row" *ngIf="pregunt.subPreguntNumber === 1">
            <div class="color-pregunt h4-aling-pregunts cell col" style="width: 41px;" *ngFor="let item of pregunt.sub_pregunta">
              <div *ngIf="item.itm_seleccion === 1">
                <div>
                  <h5> {{ item.itm_value_seleccion }} </h5>
                </div>
              </div>
              <div *ngIf="item.itm_observacion === 1">
                <div>
                  <h5> {{ item.itm_value_observacion }} </h5>
                </div>
              </div>
            </div>
            <div style="margin-left: 15px;"></div>
          </div>
          <div style="width: 181px;" class="row-detail-evaluation-resolv" *ngIf="pregunt.subPreguntNumber === 0">
            <div class="col cell color-pregunt">
              <h5 class="h5-data-col"> {{ pregunt.value }} </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div *ngIf="instrument && instrument.int_lista_matriz === 0">
  <div class="container">
      <!--<div class="cell-pregunts union-cells" *ngFor="let pregunt of arrayPreguntasChecks">-->
        <div class="cell-pregunts union-cells" *ngFor="let pregunt of arrayOut">
          <h4 class="h4-aling-pregunts"> {{ pregunt.pre_pregunta }} </h4>

          <div *ngIf="pregunt.subPreguntNumber === 1">
              <div *ngFor="let item of pregunt.sub_pregunta">
                  <div class="table-content row-items">
                      <div class="cell col-md-6">
                          <h5 class="h3-program"> {{ item.data }} </h5>
                      </div>
                      <div class="row" *ngIf="item">
                          <div *ngIf="item.value !== ''" class="cell col color-cell">
                              <h3 class="h4-aling-pregunts"> {{ item.value }} </h3>
                          </div>
                          <div *ngIf="item.itm_seleccion === 1">
                              <div class="cell col color-cell">
                                <label> {{ item.itm_value_seleccion }} </label>
                              </div>
                          </div>
                          <div *ngIf="item.itm_combo !== 0">
                            <div class="cell col color-cell">
                              <label> {{ item.itm_value_combobox }} </label>
                            </div>
                          </div>
                          <div *ngIf="item.itm_observacion === 1">
                            <div class="cell col color-cell">
                              <label> {{ item.itm_value_observacion }} </label>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div *ngIf="pregunt.subPreguntNumber === 0">
              <div class="cell float-none color-cell">
                  <h3 class="h4-aling-pregunts"> {{ pregunt.value }} </h3>
              </div>
          </div>
      </div>
  </div>

  <!-- *ngIf="instrument.int_lista_matriz === 1" falta esto-->
  <div class="button-add-data" *ngIf="numberIndex !== this.numberMax">
    <button class="col-md-1" mat-mini-fab matTooltip="Siguiente" matTooltipPosition="above" (click)="nextData()">
        <i class="material-icons image-button">navigate_next</i>
    </button>
  </div>
</div>

<div *ngIf="numberIndex > 0">
  <button class="col-md-1 button-minus-data" mat-mini-fab matTooltip="Volver" matTooltipPosition="above" (click)="previousData()">
      <i class="material-icons image-button">navigate_before</i>
  </button>
</div>
