<div class="container">
    <br>
    <a><img src="assets/img/postgrado-logo.png" alt=" Intelix2" height="75"></a>
    <br>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="loginData.username" name="loginData.username" placeholder="Usuario">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" [(ngModel)]="loginData.password" name="loginData.password" placeholder="Contraseña">
                </mat-form-field>
            </td>
        </tr>

    </table>

    <b>
      <button (click)="validateLogin(loginData)" mat-raised-button>Ingresar</button>
    </b>

    <br>
    <!--<input type="checkbox" checked="checked"> Recuerdame-->
    <a href="https://www.google.com">Olvidé mi contraseña</a>
    <br>
    <div *ngIf="msj">
        <div *ngIf="msj.length > 0" class="help-block">
            {{ msj }}
        </div>
    </div>

</div>



<div class="container">
    <router-outlet></router-outlet>
</div>