.container {
    width: 970px;
    padding-left: 380px;
    padding-top: 160px;
}

button.mat-raised-button {
    margin-top: 13px;
    margin-left: 34px;
    margin-bottom: 13px;
}

a{
    margin-left: 3px;
}