<div mat-dialog-title class="cerrar">
    <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
                    <i class="material-icons stop">clear</i>
         </button>
</div>



<h2 mat-dialog-title class="titulo"> <i class="material-icons">save </i> Crear Nuevo Combo </h2>
<hr>
<div mat-dialog-content>

    <div class="col-md-9 center-input-create-combo">
        <div class="col-md-3">
            <div class="col-md-2" class="form-group" [class.has-success]="titulo.valid" [class.has-error]="titulo.invalid">
                <mat-form-field class="example-form-field text-area-max">
                    <textarea matInput placeholder="Autosize textarea" [(ngModel)]="combo.cmb_titulo" (ngModelChange)="onChange($event)" name="titulo" placeholder="Ingrese el nombre del Combo" #titulo="ngModel" required></textarea>
                </mat-form-field>

                <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                    <div *ngIf="titulo.errors.required" class="help-block">
                        Debe ingresar un nombre al Combo
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 center-input-create-combo">
        <div class="col-md-3">
            <div class="col-md-2" class="form-group" [class.has-success]="valor.valid" [class.has-error]="valor.invalid">
                <mat-form-field class="example-form-field text-area-max">
                    <textarea matInput placeholder="Autosize textarea" [(ngModel)]="item.cmb_valor" (ngModelChange)="onChange($event)" name="valor" placeholder="Ingrese Opción" #valor="ngModel" required></textarea>
                </mat-form-field>

                <div *ngIf="valor.invalid && (valor.dirty || valor.touched)">
                    <div *ngIf="valor.errors.required" class="help-block">
                        Debe ingresar una Opción al Combo
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="col-md-1 button-add-new-combo-init aling-icon library" *ngIf="itemsCombo.length == 0">
        <button mat-mini-fab matTooltip="Guardar Combo" matTooltipPosition="above" (click)="onSaveCombo(combo, item)" disabled>
            <i class="material-icons image-button">check</i>
        </button>
    </div>

    <div class="col-md-1 button-add-new-combo-init aling-icon library" *ngIf="itemsCombo.length > 0">
      <button class="background-button" mat-mini-fab matTooltip="Guardar Combo" matTooltipPosition="above" (click)="onSaveCombo(combo, item)">
          <i class="material-icons image-button">check</i>
      </button>
  </div>

    <div class="col-md-1 aling-icon library ml-3">
        <button class="background-button" mat-mini-fab matTooltip="Guardar e Ingresar Nueva Opción" matTooltipPosition="above" (click)="onSaveItemCombo(item)">
            <i class="material-icons image-button">add</i>
        </button>
    </div>
</div>
