.container-header {
    width: 105%;
}

.table-header {
    font-weight: bold;
    text-align: center;
}

.table-content {
    text-align: center;
}

.cell {
    border: 1px solid #777;
    min-height: 50px;
    max-height: 50px;
    padding-top: 15px;
}

.cell.actions-cell {
    padding-top: 5px;
}

.floating-panel {
    margin-left: 116px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 122px;
    margin-right: auto;
    margin-left: auto;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.col-md-5 {
    margin-top: -3%;
}

.floating-panel {
    margin-top: -2%;
}

.col-md-1.button-det-loc {
    padding-top: 20px;
    padding-left: 116px;
    margin-left: -8%;
}

i.material-icons.place.loc {
    font-size: 33px;
}

.col-md-11.tit-det-serv {
    position: initial;
    height: 70px;
    padding-left: 0px;
}

.col-md-10 {
    margin-left: 1%;
}

.aling-icon {
    margin-top: 1%;
    width: 4%;
}

i.material-icons.image-button {
    margin-left: 2%;
    margin-bottom: 48%;
    color: #fff;
}

.col-md-11 {
    margin-left: 1%;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #00a6b6;
}

.no-evaluations-message {
    text-align: center;
    margin-top: 20%;
}