<div class="spinner" *ngIf="spinnerOff">
    <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="container-header" *ngIf="!spinnerOff">
    <div class="col-md-1 button-det-loc">
        <i class="material-icons place loc">list</i>
    </div>
    <div class="col-md-9">
        <h1>Lista de Evaluaciones Asignadas</h1>
    </div>
</div>

<div class="container" *ngIf="dataPersonal.length > 0">
    <div class="table-header">
        <div class="cell col-md-2">
            Codigo
        </div>
        <div class="cell col-md-2">
            Iniciales
        </div>
        <div class="cell col-md-6">
            Nombre
        </div>
        <div class="cell col-md-2">
            Detalle
        </div>
    </div>

    <div class="table-content" *ngFor="let instrument of instruments">
        <div class="cell col-md-2">
            <label> {{ instrument.int_codigo }} </label>
        </div>

        <div class="cell col-md-2">
            <label> {{instrument.int_iniciales}} </label>
        </div>

        <div class="cell col-md-6">
           <label>{{ instrument.int_nombre }} </label>
        </div>

        <div class="cell col-md-2 actions-cell" matTooltip="Realizar Evaluación {{ instrument.codigo }}" matTooltipPosition="above">
                <a mat-icon-button [routerLink]="['./instrumento', instrument.int_codigo]">
                    <i class="material-icons">send</i>
                </a>
        </div>
    </div>
</div>

<div class="container" *ngIf="instruments.length === 0">
    <h2 class="no-evaluations-message">No hay Evaluaciones Asignadas.</h2>
</div>
