<div *ngIf="!instrument" class="spinner">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="col-md-11 tit-loc" *ngIf="instrument">
  <h1 class="title-principal">Evaluación {{ instrument.iniciales }}  </h1>
</div>
<div class="container" *ngIf="instrument">
  <div class="row">
      <div class="container localidad">
          <h2>
              <div class="col-md-10 localidad">
                  <span class="example-spacer"></span>
              </div>
          </h2>
      </div>
  </div>
</div>
<hr>
<div class="container" *ngIf="instrument">
  <td [innerHTML]="instrument.descripcion"></td>
</div>
<br>

<div class="container" *ngIf="instrument">
  <div class="table-content row">
      <div class="cell col-md-2">
              <h3 class="h3-program"> Programa: </h3>
      </div>

      <div class="cell col-md-10 color-cell">
          <mat-form-field class="with_80">
                <mat-select [(value)]="value" [(ngModel)]="value" (ngModelChange)="onSearchChange($event)" name="programa" placeholder="Seleccione" #pre_pregunta="ngModel" required>
                    <mat-option *ngFor="let programa of listProgramsByFacultyId" [value]="programa.pro_id">
                        {{ programa.pro_nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
      </div>
  </div>
  <br>
  <br>
  <div class="table-content row">
      <div>
          <h3 class="h3-program"> {{ instrument.nombre }} </h3>
      </div>
  </div>
</div>

<div class="container">
  <div class="cell-pregunts union-cells" *ngFor="let pregunt of preguntas">
      <h4 class="h4-aling-pregunts"> {{ pregunt.pregunta }} </h4>
      <div *ngIf="pregunt.pre_sub_pregunta">
          <div *ngFor="let item of pregunt.pre_sub_pregunta">
              <div class="table-content row row-items align-subpregunt-repuest">
                  <div class="cell col-md-6">
                      <h5 class="h3-program"> {{ item.data }} </h5>
                  </div>

                  <div *ngIf="item.itm_seleccion === 1">
                      <div class="cell col-md-2 color-cell">
                          <mat-form-field class="with_80">
                              <mat-select [(ngModel)]="item.itm_value_seleccion" (ngModelChange)="onSearchChange($event)" name="item.itm_value_seleccion" placeholder="Seleccione" #tipo="ngModel" required>
                                  <mat-option value="Si">Si</mat-option>
                                  <mat-option value="No">No</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>

                  <div *ngIf="item.itm_combo !== 0">
                      <div class="cell col-md-2 color-cell">
                          <mat-form-field class="with_80">
                              <mat-select [(value)]="item.itm_value_combobox" [(ngModel)]="item.itm_value_combobox" (ngModelChange)="onSearchChange($event)" name="item.itm_value_combobox" placeholder="Seleccione" #tipo="ngModel" required>
                                  <mat-option *ngFor="let item of item.itm_combobox" [value]="item.cmb_valor">
                                      {{ item.cmb_valor }}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>

                  <div *ngIf="item.itm_observacion === 1">
                      <div class="cell col-md-2 color-cell">
                        <mat-form-field class="with_80">
                          <!--<input matInput (click)="levantarModalRespuesta()" [(ngModel)]="value" (ngModelChange)="onSearchChange($event)" name="observacion" placeholder="Escriba" #pre_pregunta required>-->
                          <input matInput [(ngModel)]="item.itm_value_observacion" (ngModelChange)="onSearchChange($event)" name="observacion" placeholder="Escriba" #pre_pregunta required>
                        </mat-form-field>
                      </div>
                  </div>

                  <div *ngIf="!item || item.itm_seleccion === 0 && item.itm_combo === 0 && item.itm_observacion === 0">
                      <div class="cell col-md-6 color-cell">
                          <h3 class="h4-aling-pregunts">  </h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div *ngIf="!pregunt.pre_sub_pregunta">
          <div class="cell col-md-12 color-cell" [class.has-success]="pre_value.valid" [class.has-error]="pre_value.invalid">
              <mat-form-field class="with_80">
                  <input matInput [(ngModel)]="pregunt.pre_value" (ngModelChange)="onSearchChange($event)" name="pre_value" placeholder="Respuesta" #pre_value required>
              </mat-form-field>

              <div *ngIf="pre_value.invalid && (pre_value.dirty || pre_value.touched)">
                  <div *ngIf="pre_value.errors.required" class="help-block">
                      Debe Ingresar una Respuesta.
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="button-add-data" *ngIf="matriz === 1">
      <button class="col-md-1" mat-mini-fab matTooltip="Agregar más Respuestas" matTooltipPosition="above" (click)="addNewData(preguntas)">
          <i class="material-icons image-button">add</i>
      </button>
  </div>

  <div class="button-add-data">
          <button class="col-md-1 button-align" mat-mini-fab matTooltip="Enviar evaluación" matTooltipPosition="above" (click)="sendEvaluation(preguntas, instrument.int_codigo)">
              <i class="material-icons image-button">send</i>
          </button>
  </div>
</div>
