<div mat-dialog-title class="cerrar">
  <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
                  <i class="material-icons stop">clear</i>
       </button>
</div>

<h2 mat-dialog-title class="titulo"> <i class="material-icons">save </i> Selección Multiple </h2>
<hr>
<div mat-dialog-content>

  <div class="col-md-9 center-input-create-selector">
      <div class="col-md-9">
          <div class="col-md-2" class="form-group" [class.has-success]="slt_valor.valid" [class.has-error]="slt_valor.invalid">
              <mat-form-field class="example-form-field text-area-max">
                  <textarea matInput placeholder="Autosize textarea" [(ngModel)]="valueSeleccion.slt_valor" (ngModelChange)="onChange($event)" name="slt_valor" placeholder="Ingrese Opción" #slt_valor="ngModel" required></textarea>
              </mat-form-field>

              <div *ngIf="slt_valor.invalid && (slt_valor.dirty || slt_valor.touched)">
                  <div *ngIf="slt_valor.errors.required" class="help-block">
                      Debe ingresar una Opción para la selección multiple
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div>
  <!--<div class="col-md-1 button-add-new-combo-init aling-icon library" *ngIf="valueSeleccion !== undefined">
      <button mat-mini-fab matTooltip="Guardar todo" matTooltipPosition="above" (click)="onSaveMemory(valueSeleccion)" disabled>
          <i class="material-icons image-button">check</i>
      </button>
  </div>

  <div class="col-md-1 button-add-new-combo-init aling-icon library" *ngIf="itemsCombo.length > 0">
    <button class="background-button" mat-mini-fab matTooltip="Guardar Combo" matTooltipPosition="above" (click)="onSaveCombo(combo, item)">
        <i class="material-icons image-button">check</i>
    </button>
  </div>-->

  <div class="col-md-1 aling-icon float-right mr-5">
      <button class="background-button" mat-mini-fab matTooltip="Agregar item de Selección" matTooltipPosition="above" (click)="onSaveMemory(valueSeleccion)">
          <i class="material-icons image-button">add</i>
      </button>
  </div>
</div>

<div *ngIf="itemSeleccionMultiple.length > 0">
  <div class="container col-md-12 container-accordion mt-4">
    <mat-accordion>
      <mat-expansion-panel class="">
        <mat-expansion-panel-header>
          <mat-panel-title class="mt-4">
            Items de selección multiple
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let item of itemSeleccionMultiple">
          <mat-form-field>
            <input matInput placeholder="Item" [(ngModel)]="item.slt_valor" disabled>
          </mat-form-field>
          <button class="ml-3" mat-mini-fab mat-icon-button matTooltip="Eliminar item" (click)="deleteItem(item.slt_valor)">
            <i class="material-icons accept-button">delete</i>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
