.table-header {
  font-weight: bold;
  text-align: center;
}

.table-content {
  text-align: center;
}

.cell-border {
  border-left: 1px solid #777;
  padding: 15px;
}

.cell-padding {
  padding-top: 15px;
}

.cell {
  max-height: fit-content;
  border: 1px solid #777;
}

.cell.actions-cell {
  padding-top: 5px;
}

.mat-dialog-actions {
  float: right;
  text-align: right;
}

mat-dialog-content {
  overflow: hidden;
}

.disabled-icon {
  color: #999;
}

.stable {
  color: #4CAF50;
}

.not-ok {
  color: #FF9800;
}

h1>i {
  vertical-align: middle !important;
}

h2.titulo {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.cerrar {
  text-align: -webkit-right;
  margin-top: -22px;
  margin-bottom: -0.5%;
  margin-right: -2%;
  padding: 0px;
}

div.over {
  width: 70%;
}

.container-list-items-combo {
  margin-top: 10%;
}

.center-input-create-selector {
  margin-left: 2%;
}

.background-button {
  background: #eee;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background: #eee;
}
