.navbar-default {
    background: white;
    border: none;
    height: fit-content;
    margin-bottom: 80px;
}

md-grid-list {
  margin-top: 50px;
}

.example-icon {
  padding: 0 14px;
}

span {
  color: #999;
}
