<div class="spinner" *ngIf="spinnerOff">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="container" *ngIf="instruments.length > 0">
  <div class="col-md-7 tit-det-loc">
      <h1>Lista de Evaluaciones Disponibles</h1>
  </div>
  <div class="col-md-5 tit-det-loc mt-4">
    <div class="container-accordion">
      <div class="row">
        <div class="col">
          <button class="col-md-1 icon-background button-styles" mat-mini-fab matTooltip="Crear Evaluación" matTooltipPosition="above" (click)="openNewEvaluation()">
              <i class="material-icons image-button aling-icon-button">add</i>
          </button>
        </div>
        <div class="col">
          <button class="col-md-1 icon-background button-styles" mat-mini-fab matTooltip="Maestro de Facultades y Programas" matTooltipPosition="above" (click)="openMaster()">
              <i class="material-icons image-button aling-icon-button">settings</i>
          </button>
        </div>
        <div class="col">
          <button class="col-md-1 aling-button icon-background button-styles" mat-mini-fab matTooltip="Calculo del tamaño de muestra para aplicar los diversos Instrumentos" matTooltipPosition="above" (click)="openGenerationEvaluationActors()">
              <i class="material-icons image-button aling-icon-button">calculate</i>
          </button>
        </div>
        <div class="col">
          <button class="col-md-1 aling-button icon-background button-styles" mat-mini-fab matTooltip="Evaluaciones resueltas" matTooltipPosition="above" (click)="viewListEvaluationCheck()">
              <i class="material-icons image-button aling-icon-button">list_alt</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container" *ngIf="instruments.length > 0">
  <div class="table-header">
    <div class="cell col-md-2">
      Codigo
    </div>

    <div class="cell col-md-2">
      Iniciales
    </div>

    <div class="cell col-md-6">
      Nombre
    </div>

    <div class="cell col-md-2">
      Opciones
    </div>
  </div>

  <div class="table-content" *ngFor="let instrumento of instruments">
      <div class="cell col-md-2">
          <label>{{ instrumento.codigo }}</label>
      </div>

      <div class="cell col-md-2">
          <label>{{instrumento.iniciales}}</label>
      </div>

      <div class="cell col-md-6">
          {{ instrumento.nombre }}
      </div>

      <div class="cell col-md-2 actions-cell">
        <a mat-icon-button [routerLink]="['./instrumento', instrumento.codigo]" matTooltip="Detalle de la Evaluación {{ instrumento.codigo }}" matTooltipPosition="above">
            <i class="material-icons">visibility</i>
        </a>
        <a mat-icon-button matTooltip="Editar la Evaluación {{ instrumento.codigo }}" (click)="editInstrumentComplete(instrumento.id)" matTooltipPosition="above">
          <i class="material-icons">edit</i>
        </a>
        <button matTooltip="Eliminar la Evaluación {{ instrumento.codigo }}" mat-icon-button matTooltipPosition="above" (click)="deleteInstrumentComplete(instrumento.id)">
          <i class="material-icons">delete</i>
        </button>
      </div>
  </div>
</div>

<div class="container" *ngIf="instruments.length === 0">
  <h2 class="no-evaluations-message">No hay evaluaciones disponibles</h2>
  <div class="button-row aling-button-add">
    <button  mat-raised-button (click)="openNewEvaluation()"> Crear Evaluación </button>
  </div>
</div>
