<div class="spinner" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="container" *ngIf="programsByFacultad.length > 0 && facultad !== undefined">
  <div class="col-md-10 tit-det-loc">
      <h1>Programas de la Facultad {{ facultad.fac_nombre }}</h1>
  </div>
  <div class="col-md-2 mt-4 d-flex flex-row justify-content-end p-1">
    <button class="col-md-1 icon-background" mat-mini-fab matTooltip="Crear Programa" matTooltipPosition="above" (click)="openModalNewProgram()">
        <i class="material-icons image-button">add</i>
    </button>
  </div>
</div>
<br>

<div class="container" *ngIf="programsByFacultad.length > 0">
  <div class="table-header">
    <div class="cell col-md-1">
      Id
    </div>

    <div class="cell col-md-3">
      Nombre
    </div>

    <div class="cell col-md-6">
      Descripción
    </div>

    <div class="cell col-md-2">
      Opciones
    </div>
  </div>

  <div class="table-content" *ngFor="let programa of programsByFacultad">
      <div class="cell col-md-1">
          <label>{{ programa.pro_id }}</label>
      </div>

      <div class="cell col-md-3">
          <label>{{programa.pro_nombre}}</label>
      </div>

      <div class="cell col-md-6">
        <label>{{programa.pro_descripcion}}</label>
    </div>

      <div class="cell col-md-2 actions-cell">
        <a mat-icon-button matTooltip="Editar el programa {{ programa.pro_nombre }}" (click)="openModalEditProgram(programa)" matTooltipPosition="above">
          <i class="material-icons">edit</i>
        </a>
        <a mat-icon-button matTooltip="Eliminar el programa {{ programa.pro_nombre }}" (click)="deleteProgram(programa)" matTooltipPosition="above">
          <i class="material-icons">delete</i>
        </a>
      </div>
  </div>
</div>

<div class="container" *ngIf="programsByFacultad.length === 0 && spinner === false">
  <h2 class="no-evaluations-message">No hay programas disponibles para la Facultad</h2>
  <div class="button-row aling-button-add">
    <button  mat-raised-button (click)="openModalNewProgram()"> Agregar Programa </button>
  </div>
</div>
