<div mat-dialog-title class="cerrar">
        <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
            <i class="material-icons stop">clear</i>
        </button>
</div>

<h2 mat-dialog-title class="titulo"> Configuración del Combo </h2>
<hr>
<!--<div mat-dialog-content>
    <div class="col-md-12">
        <strong> Debe escoger un combo </strong>
    </div>
</div>-->

<div class="col-md-3 ml-5">
    <mat-form-field>
        <mat-select placeholder="Seleccione un Combo" [(ngModel)]="combo" (ngModelChange)="onChange($event)" #required>
            <mat-option *ngFor="let combo of combos" [value]="combo">
                {{ combo.cmb_titulo }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="col-md-9 container-list-items-combo" *ngIf="itemsCombo.length > 0">
    <div class="row table-header">
        <div class="cell col-md-7">
            Items de Combo
        </div>
    </div>

    <div class="table-content row" *ngFor="let item of itemsCombo">
        <div class="cell col-md-7">
            <label> {{ item.cmb_valor }} </label>
        </div>
    </div>
</div>

<div class="col-md-1 mt-2 aling-icon-refresh">
  <button mat-icon-button matTooltip="Refrescar combo de modales" matTooltipPosition="above" (click)="refresh()">
    <i class="material-icons image-button">refresh</i>
  </button>
</div>

<div class="col-md-1 button-add-new-combo-init aling-icon library mt-3" *ngIf="!combo">
    <button class="background-button" mat-mini-fab matTooltip="Crear un Nuevo Combo" matTooltipPosition="above" (click)="createCombo()">
        <i class="material-icons image-button">add</i>
    </button>
</div>

<div class="col-md-1 aling-icon library button-one mt-3" *ngIf="combo">
    <button class="background-button" mat-mini-fab matTooltip="Crear un Nuevo Combo" matTooltipPosition="above" (click)="createCombo()">
        <i class="material-icons image-button">add</i>
    </button>
</div>

<div class="col-md-1 aling-icon library button-two mt-3" *ngIf="combo">
    <button class="background-button" mat-mini-fab matTooltip="Asignar Combo" matTooltipPosition="above" (click)="selectedComboItems(combo)">
        <i class="material-icons image-button">check</i>
    </button>
</div>

    <!--<div mat-dialog-actions>
        <button mat-button [mat-dialog-close]=true (click)="guardar()">Si</button>
        <button mat-button [mat-dialog-close]=false>No</button>
    </div>-->
