.table-header {
    font-weight: bold;
    text-align: center;
  }
  
  .table-content {
    text-align: center;
  }
  
  .cell {
    border: 1px solid #777;
    min-height: 50px;
    max-height: 50px;
    padding-top: 15px;
  }
  
  .cell.actions-cell {
    padding-top: 5px;
  }
  
  .floating-panel {
    margin-left: 116px;
  }
  
  .container-fluid {
    padding-right: 15px;
    padding-left: 122px;
    margin-right: auto;
    margin-left: auto;
  }
  
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  .col-md-5 {
    margin-top: -3%;
  }
  
  .floating-panel {
    margin-top: -2%;
  }
  
  .col-md-1.button-det-loc {
    padding-top: 20px;
    padding-left: 116px;
  }
  
  i.material-icons.place.loc {
    font-size: 33px;
  }
  
  .col-md-11.tit-det-serv {
    position: initial;
    height: 70px;
    padding-left: 0px;
  }
  
  .aling-button {
    margin-left: 1%;
  }
  
  .icon-background {
    background: #eee;
  }
  
  .no-evaluations-message {
      text-align: center;
      margin-top: 20%;
  }
  
  .mat-mini-fab {
    min-width: 40px;
  }
  
  .aling-button-add {
    text-align: center;
  }