<div class="spinner" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="tit-list-loc" *ngIf="users.length > 0 && facultad !== undefined">
  <div class="col-md-10 tit-det-loc">
      <h1>Usuarios de la Facultad {{ facultad.fac_nombre }}</h1>
  </div>
  <div class="col-md-2">
    <button class="col-md-1 icon-background" mat-mini-fab matTooltip="Crear Usuario" matTooltipPosition="above" (click)="openModalNewUser()">
        <i class="material-icons image-button">add</i>
    </button>
  </div>
</div>
<br>

<div class="container" *ngIf="users.length > 0">
  <div class="table-header">
    <div class="cell col-md-2">
      Id
    </div>

    <div class="cell col-md-4">
      Usuario
    </div>

    <div class="cell col-md-4">
      Descripción
    </div>

    <div class="cell col-md-2">
      Opciones
    </div>
  </div>

  <div class="table-content" *ngFor="let user of users">
      <div class="cell col-md-2">
          <label>{{ user.id }}</label>
      </div>

      <div class="cell col-md-4">
          <label>{{ user.username }}</label>
      </div>

      <div class="cell col-md-4">
        <label>{{ user.descripcion }}</label>
    </div>

    <div class="cell col-md-2 actions-cell">
      <a mat-icon-button matTooltip="Editar el usuario {{ user.usuario }}" (click)="openModalEditUser(user)" matTooltipPosition="above">
        <i class="material-icons">edit</i>
      </a>
      <a mat-icon-button matTooltip="Eliminar el usuario {{ user.usuario }}" (click)="deleteUser(user)" matTooltipPosition="above">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </div>
</div>

<div class="container" *ngIf="users.length === 0 && spinner === false">
  <h2 class="no-evaluations-message">No hay usuarios disponibles para la Facultad</h2>
  <div class="button-row aling-button-add">
    <button  mat-raised-button (click)="openModalNewUser()"> Agregar Usuario </button>
  </div>
</div>
