<div mat-dialog-title class="cerrar">
  <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
      <i class="material-icons image-button">clear</i>
  </button>
</div>

<h2 mat-dialog-title class="titulo"><i class="material-icons">edit</i> {{ title }} </h2>
<hr>

<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="user.username" placeholder="Ingrese el usuario">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="user.password" placeholder="Ingrese una contraseña">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="user.descripcion" placeholder="Ingrese una descripción"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="button-add-pregunta icon-background" mat-mini-fab matTooltip="Guardar usuario" matTooltipPosition="above" (click)="saveUpdateUser()">
    <i class="material-icons image-button">save</i>
  </button>
</mat-dialog-actions>