.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.button-add-pregunta {
    margin-left: 93%;
}

.icon-background {
    background: #eee;
}

.cerrar {
    text-align: -webkit-right;
    margin-top: -22px;
    margin-bottom: -0.5%;
    margin-right: -2%;
    padding: 0px;
}