<div mat-dialog-title class="cerrar">
  <button mat-icon-button (click)="goBack()" matTooltip="Cerrar" matTooltipPosition="above">
      <i class="material-icons stop">clear</i>
  </button>
</div>

<h2 mat-dialog-title class="titulo"> <i class="material-icons">notifications</i> <strong> Nueva Notificación: </strong> Posee evaluaciones resueltas </h2>
<hr>

<div class="col-md-3">
<mat-form-field class="example-full-width">
  <input matInput placeholder="Información" value="Pulse la Flecha para ir" disabled>
</mat-form-field>
</div>

<div class="col-md-9 container-list-items-combo" *ngIf="itemsCombo.length > 0">
<div class="row table-header">
  <div class="cell col-md-7">
      Items de Combo
  </div>
</div>

<div class="table-content row" *ngFor="let item of itemsCombo">
  <div class="cell col-md-7">
      <label> {{ item.cmb_valor }} </label>
  </div>
</div>
</div>

<div class="col-md-1 button-add-new-combo-init aling-icon library" *ngIf="!combo">
<button class="icon-background" mat-mini-fab matTooltip="Ir" matTooltipPosition="above" (click)="viewListEvaluationCheck()">
  <i class="material-icons image-button">arrow_forward</i>
</button>
</div>
