div.tab-container {
  margin-top: 60px;
  position: relative;
}

a.mat-tab-link {
text-decoration: none;
}

.tab-icon {
    margin-right: 8px;
    color: #777 !important; 
}

a.mat-tab-link:hover mat-icon {
    color: #01a6b6 !important; 
}