<mat-toolbar>
    <a routerLink="./monitor/map"><img src="assets/img/postgrado-logo.png" alt="Intelix" height="75"></a>
    <span class="example-spacer"></span>

    <span class="username-sesion"> {{ username }} </span>
    <button mat-icon-button [matMenuTriggerFor]="salir" matTooltip="Salir" matTooltipPosition="above">
        <mat-icon example-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #salir="matMenu" [overlapTrigger]="false">
        <button (click)="gotoLogin()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>


</mat-toolbar>
<div class="tab-container">
    <router-outlet></router-outlet>
</div>

<footer>

</footer>
