/* You can add global styles to this file, and also import other style files */

@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    font-family: 'Raleway', sans-serif;
    color: #777
}

.material-icons {
    color: #01a6b6
}

.example-spacer {
    flex: 1 1 auto;
}

.spinner {
    position: relative;
    margin-top: 250px
}

.spinner-element {
    position: absolute;
    margin-left: auto;
    margin-right: auto
}

.center-content-container {
    position: relative
}

.center-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto
}

.center-text {
    text-align: center
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar,
.mat-form-field-ripple {
    background-color: #01a6b6
}

a.mat-tab-link:hover,
a.mat-tab-link:focus,
a.mat-tab-link mat-icon,
.mat-tab-link.mat-tab-label-active,
.mat-tab-link.mat-tab-label-active mat-icon {
    color: #01a6b6 !important;
    opacity: 1.0;
}

.mat-progress-spinner circle {
    stroke: #01a6b6
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-focused .mat-form-field-placeholder {
    color: #01a6b6 !important;
}

.mat-expansion-panel-header-title {
    color: #777
}

footer {
    margin-bottom: 5%
}

.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
    background-color: #4CAF50;
}

.mat-warn .mat-slider-thumb,
.mat-warn .mat-slider-thumb-label,
.mat-warn .mat-slider-track-fill {
    background-color: #FF9800;
}

.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
    background-color: #fc0808;
}

.mat-accen .mat-slider-thumb,
.mat-accen .mat-slider-thumb-label,
.mat-accen .mat-slider-track-fill {
    background-color: #888787;
}