<div class="spinner" *ngIf="spinnerOff">
  <mat-progress-spinner mode="indeterminate" color='primary' class="spinner-element"></mat-progress-spinner>
</div>

<div class="tit-list-loc" *ngIf="evalsCheck">
  <div class="col-md-10 tit-det-loc">
      <h1>Lista de Evaluaciones Respondidas</h1>
  </div>
</div>
<br>

<div class="container" *ngIf="evalsCheck.length > 0">
  <div class="table-header">
    <div class="cell col-md-2">
      Codigo
    </div>
    <div class="cell col-md-2">
      Tipo de Actor
    </div>
    <div class="cell col-md-2">
      Usuario
    </div>
    <div class="cell col-md-4">
      Realizada por
    </div>
    <div class="cell col-md-2">
      Detalle
    </div>
  </div>

  <div class="table-content" *ngFor="let eval of evalsCheck">
      <div class="cell col-md-2">
        <label>{{ eval.code_instrument }}</label>
      </div>
      <div class="cell col-md-2">
        <label>{{ eval.actor }}</label>
      </div>
      <div class="cell col-md-2">
          {{ eval.username }}
      </div>
      <div class="cell col-md-4">
        {{ eval.names }}
      </div>
      <div class="cell col-md-2 actions-cell" matTooltip="Detalle de la Evaluación {{ eval.code_instrument }}" matTooltipPosition="above">
        <a mat-icon-button [routerLink]="['./evaluation', eval.evalConcatUser]">
            <i class="material-icons">visibility</i>
        </a>
      </div>
  </div>
</div>

<div class="container" *ngIf="evalsCheck.length === 0">
  <h2 class="no-evaluations-message">No hay evaluaciones respondidas</h2>
</div>
